<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" style="width: 100%; height: 100%;">
  <div class="center text-center" >
    <div class="mb-7">
      <h1 class="text-white font_Inter">Bem-vindo a PMG Systems. Um novo site estará disponível em breve!</h1>
    </div>

    <div class="js-countdown row">
      <div class="col-6 col-sm-3 mb-5 mb-sm-0">
        <h2 class="js-cd-days h1 text-white mb-0 font_Inter"><span id="days"> {{daysToDday}} </span></h2>
        <h6 class="text-white-70 mb-0 font_Inter">Dias</h6>
      </div>
      <!-- End Col -->

      <div class="col-6 col-sm-3 mb-5 mb-sm-0">
        <h2 class="js-cd-hours h1 text-white mb-0 font_Inter"><span id="hours"> {{hoursToDday}} </span></h2>
        <h6 class="text-white-70 mb-0 font_Inter">Horas</h6>
      </div>
      <!-- End Col -->

      <div class="col-6 col-sm-3">
        <h2 class="js-cd-minutes h1 text-white mb-0 font_Inter"><span id="minutes"> {{minutesToDday}} </span></h2>
        <h6 class="text-white-70 mb-0 font_Inter">Minutos</h6>
      </div>
      <!-- End Col -->

      <div class="col-6 col-sm-3">
        <h2 class="js-cd-seconds h1 text-white mb-0 font_Inter"><span id="seconds"> {{secondsToDday}} </span></h2>
        <h6 class="text-white-70 mb-0 font_Inter">Segundos</h6>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</main>